@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arvo&display=swap');

body,html{
    height: 100%;
    color:whitesmoke;
}
body section{
    /* background-color: #10200a; */
    background-image: linear-gradient(180deg,#10200a, #333333);
    font-family: 'Architects Daughter', cursive;
    height: 100%;
    margin:0px;
}
.header-container{
    display: flex;
    padding:20px 0px;  
}
.wrapper{
    max-width: 70%;
    margin:0px 4rem;
}

header{
    font-size: 1.5rem;
    margin:0px;
    
}
footer{
    margin:0 auto;
}
a{
    text-decoration: none;
}
#success-data{
    /* background-color: rgb(46, 45, 27); */
    padding:5px 5px;
    margin:5px 0px;
    
}
input [type=text]{
border-bottom: black;
background-color: transparent;
border:none;
}