<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="wrapper">
        <div class="header-container">
            <header>{{>header}}</header>
        </div>
        <div>
        <h4>{{info}}</h4>
        
        <input type="text" placeholder="location" id="location">
        <input type="submit" value="search" id="button">
        </div>
        
        <div class="response-data">
            <div id="success-data"></div>
            <div id="error-data"></div>
        </div>
        <hr>
        <div class="footer-container">
            <footer>{{>footer}}</footer>
        </div>
    </div>
    <script src="js/fetch.js"></script>
</body>

</html>